{% extends 'base.html' %}

{% block content %}
    <h1>Sign Up</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign Up">
        <p>Already have an account? <a href="{% url 'login' %}">Log In!</a></p>
    </form>
{% endblock content %}